footer{
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    margin-top: auto;
}
.mailto{
    font-size: 9px;
}

.projet{
    font-size: 10px;
    display: flex;
}

a.mailto, a.projet, a[href="http://mmimontbeliard.com"], a.nom {
    display: block;
  }

