footer{
    background-color: var(--pink);
    position: absolute;
    color: var(--white);
    text-align: center;
}
.mailto{
    font-size: 9px;
}

.projet{
    font-size: 10px;
    display: flex;
}

img [logo-MMI]{
    display: flex;
}
