footer{
    background-color: var(--pink);
    color: var(--white);
}
.mailto{
    font-size: 8px;
}

.projet{
    text-decoration: none;
    color: var(--white);
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
}


a.mailto, a.projet, a[href="http://mmimontbeliard.com"], a.nom {
    display: block;
    align-items: center;
    text-align: center;
}

.image{
    text-align: center;
}
.image img{
    display: inline-block;
    margin-right: 0px;
    margin-left: 40px;
}

.white-line {
    width: 1px;
    height: 10px;
    background-color: var(--white);
}

.language,
.white-line{
  display: inline-block;
  vertical-align: middle;
  margin-left: ;
}

.language{
    text-decoration: none;
    color: var(--white);
    font-size: 9px;
}

.nom,
.changement_langue {
  display: inline-block;
}

.nom {
    font-size: 8px;
    display: inline-block;
    text-align: center;
    margin-left: 164px;
  }
.changement_langue{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}