article,
article div,
article a,
article img {
  box-sizing: border-box;
}

article{
    box-sizing: border-box;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px #000000,
                  0 0 10px #000000;
    margin: 15px;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 20px;
    font: ;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    height: 190px;
    width: 300px;
  }

article a{
    text-decoration: none;
    color: var(--black);
}

article img{
    display: block;
    margin: auto;
}

#droite{
    margin-left: 70px;
}


